node_modules
/node_modules
npm-debug.log
yarn-error.log

.prettierrc

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

.DS_Store
Thumbs.db