.slider-container {
  width: 100vw;
  height: 22rem;
  background-color: rgb(244, 199, 199);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .card {
    width: 16rem;
    height: 14rem;
    background-color: red;
    border-radius: 1rem;

    &.active {
      width: 20rem;
      height: 18rem;
    }

    &.last {
      width: 14rem;
      height: 12rem;
      display: none;
    }
  }
}


@media (min-width: 992px) {
  .slider-container {
    width: 100vw;
    height: 22rem;
    background-color: rgb(244, 199, 199);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  
    .card {
      width: 16rem;
      height: 14rem;
      background-color: red;
      border-radius: 1rem;
  
      &.active {
        width: 20rem;
        height: 18rem;
      }
  
      &.last {
        width: 14rem;
        height: 12rem;
        display: block;
      }
    }
  }
}
