<div class="slider-container" *ngIf="data.length === 5; else slider">
  <div
    class="card"
    *ngFor="let item of data; let i = index"
    [ngClass]="{
      active: i === selectedIndex,
      last: i === 0 ? true : i === 4 ? true : false
    }"
  >
    <img [src]="item.imageUrl" [alt]="item.title" />
    <div class="title">{{ item.title }}</div>
  </div>

  <div class="dot-container">
    <span
      class="dot active"
      *ngFor="let dot of data; let i = index"
      (click)="onSelectedIndex(i)"
      [ngClass]="{active: selectedIndex === i}"
    ></span>
  </div>
</div>

<ng-template #slider>
  <div class="slider-container">
    <h1>Slider should hv 5 items</h1>
  </div>
</ng-template>
